[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "<2.12,>=2.11"
Django = "<3.2,>=3.1"
django-tailwind = "*"
celery = "*"
wagtail-treemodeladmin = "*"
django-filter = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.9"
