{% extends "base.html" %}

{% load wagtailcore_tags %}{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% image page.thumbnail fill-300x300 %}
    <h1>{{ page.title }}</h1>
    <form method="post" action="{% url 'cart:add' page.id %}">
        {{ cart_form.as_p }}
        {% csrf_token %}
        <button type="submit">add to cart</button>
    </form>
    <section>
        <h2>Recommendations</h2>
        <ul>
        {% for item in recommendations %}
            <li>
                <h3>{{ item.title }}- ${{ item.price }}</h3>
                {% image page.thumbnail fill-150x150 %}
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}
