{% extends 'base.html' %}

{% block content %}
<h1>Retrieve Order</h1>
<form method='POST'>
{{ form.as_p}}
{% csrf_token %}
<button type='submit'>Search</button>
</form>
{% if order %}
    {{ order.id }}: {{ order.get_status_display }}
    {% if not order.refund %}
        - <a href="{% url 'orders:refund' order.id %}">ask for a refund</a>
    {% else %}
        refund status: {{ order.refund.get_status_display }}
    {% endif %}
<p>Item bought:</p>
    {% for item in order.items.all %}
        <li>{{ item.product }} x{{ item.quantity }}</li>
    {% endfor %}
{% endif %}
{% endblock content %}
